@use './vars' as *;

// Generic
ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


// Utilieties 

.h1-big-size {
    font-size: $rem350;
    font-weight: 800;
}

.small-img {
    max-width: 60px;
    height: auto;
}

section a {
    color: $white;
}
